.message--panel {
  height: 100%;
  cursor: pointer;
  .message--panel-inner {
    height: 100%;
    padding: 10px 0;
    display: flex;
    .message--container {
      width: 640px;
      flex: 1;
    }
    .message--detail {
      width: 362px;
    }
  }
}
