.message--panel {
  height: 100%;
  cursor: pointer;
  .message--panel-inner {
    height: 100%;
    padding: 10px;
    display: flex;
    align-self: flex-start;
    .message--container {
      width: 640px;
      flex: 1;
      border: 1px solid;
    }
    .message--detail {
      width: 362px;
      border: 1px solid;
    }
  }
}
