.about-us {
  padding: 64px 8%;
  display: flex;
  flex-direction: column;

  .about-us-content {
    flex: 1;
    display: flex;
    flex-direction: column;

    .about-us-title {
      color: #color[black-color];
      font-size: 60px;
      font-weight: #font-weight[font-weight-extra-bold];
      text-align: center;
      margin: 0 120px;
    }

    .about-us-description {
      color: #color[black-color];
      font-size: 18px;
      text-align: center;
      margin: 16px 120px 0;
    }
  }

  .about-us-image {
    position: relative;
    flex: 1;
    margin-top: -80px;

    img {
      width: 100%;
      object-fit: cover;
    }

    .about-us-image-gradient {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to top,
        rgba(13, 13, 13, 0.836) 0%,
        rgba(11, 11, 11, 0.636) 20%,
        rgba(0, 0, 0, 0) 40%
      );
    }
  }

  .about-us-team {
    color: #color[blue-color];
    font-size: 60px;
    text-align: center;
    font-weight: #font-weight[font-weight-bold];
    margin: 32px 0 40px;
  }
}
