.about-us {
  padding: 64px 124px;
  position: relative;

  h3 {
    color: #color[black-color];
    font-size: #font[font-size-title];
    font-weight: #font-weight[font-weight-extra-bold];
    text-align: center;
  }

  p {
    color: #color[black-color];
    font-size: #font[font-size-large];
    text-align: center;
  }

  .about-us-content {
    position: absolute;
    right: 0;
    left: 0;

    .about-us-image {
      width: 100%;
      height: 100%;
      background-size: 100% auto;
      background-repeat: no-repeat;
      width: 90vw;
      height: 90vh;
      margin: 0 auto;
    }

    .about-us-team {
      color: #color[blue-color];
      font-size: 60px;
      text-align: center;
      font-weight: #font-weight[font-weight-bold];
    }
  }
}
