/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about-us {
    .about-us-content {
      .about-us-title {
        font-size: #font[font-size-xl];
      }

      .about-us-description {
        font-size: #font[font-size-normal];
      }
    }

    .about-us-team {
      font-size: #font[font-size-xxl];
      margin: 20px 0 40px;
    }
  }
}

/* 500px to 768px */
@media screen and (min-width: 500px) and (max-width: 767px) {
  .about-us {
    .about-us-content {
      .about-us-title {
        font-size: #font[font-size-small];
      }

      .about-us-description {
        font-size: #font[font-size-light];
      }
    }

    .about-us-image {
      margin-top: -52px;
    }

    .about-us-team {
      font-size: #font[font-size-large];
      margin: 12px 0 0;
    }
  }
}

/* 300px to 499px */
@media screen and (min-width: 300px) and (max-width: 499px) {
  .about-us {
    .about-us-content {
      .about-us-title {
        font-size: #font[font-size-small];
      }

      .about-us-description {
        font-size: #font[font-size-light];
      }
    }

    .about-us-image {
      margin-top: -54px;
    }

    .about-us-team {
      font-size: #font[font-size-small];
      margin: 4px 0px 0px 0px;
    }
  }
}
