// @media screen and (max-width: 1324px) {
//   .about-us-content {
//     .about-us-image {
//       width: 100%;
//       height: 100%;
//       background-size: 100% auto;
//       background-repeat: no-repeat;
//       width: 90vw;
//       height: 20vh;
//       margin: 0 auto;
//     }
//   }
// }

@media (max-width: 1024px) {
  section.about-us {
    padding: 64px 124px;

    .about-us-description {
      font-size: 1.5rem;
      line-height: 1.8rem;
      font-weight: #font-weight[font-weight-light];
    }

    .about-us-content {
      .about-us-image {
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        background-repeat: no-repeat;
        width: 90vw;
        height: 50vh;
        margin: 0 auto;
      }
      .about-us-team {
        padding-top: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  section.about-us {
    padding: 64px 124px;
  }
}
