@react-bg-white: #fff;

.reacts {
  margin-top: 5px;
  .flex-row-center (5px);
  border-radius: 10px;
  border: 1px solid @react-bg-white;
  background-color: @react-bg-white;
  padding: 1px 5px;
  width: fit-content;

  .more {
    font-size: #font[font-size-light];
    background-color: #d8d8d8;
    border-radius: 10px;
    padding: 0 5px;
    text-align: center;
    font-weight: 400;
    color: #7a7a7a;
    line-height: 20px;
  }
}
