.reacts {
  .flex-row-center (5px);
  border-radius: 20%;

  .more {
    font-size: #font[font-size-light];
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 0 5px;
    background-color: #8b8b8b;
    text-align: center;
    font-weight: 400;
    color: #262525;
    line-height: 20px;
  }
}
