.layout-default {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
  .sidebar-small {
    width: 88px;
  }
  .channels-list {
    width: 349px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
    height: 100%;
  }
  .main-content {
    flex: 1;
    overflow-y: auto;
  }
}
