@padding-sm: 10px;
@padding-md: 15px;
@padding-lg: 20px;
@padding-xl: 25px;
@padding-xxl: 80px;

@white-color: #fff;
@black-color: #000;
@blue-color: #615ef0;

@border-radius-sm: 10px;
@border-radius-md: 15px;
@border-radius-18: 18px;
@border-radius-lg: 20px;
@border-radius-xl: 25px;
@border-radius-xxl: 30px;
@border-radius-full: 50%;

@z-index-sm: 10;
@z-index-md: 100;
@z-index-lg: 1000;

@font-size-light: 12px;
@font-size-14: 14px;
@font-size-small: 16px;
@font-size-18: 18px;
@font-size-normal: 20px;
@font-size-large: 24px;
@font-size-xl: 30px;
@font-size-xxl: 36px;
@font-size-xxxl: 48px;
@font-size-title: 70px;

@font-weight-light: 300;
@font-weight-normal: 400;
@font-weight-medium: 500;
@font-weight-bold: 600;
@font-weight-extra-bold: 700;

@box-shadow-1: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
  rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px;
@box-shadow-2: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
  rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
@box-shadow-3: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
@box-shadow-4: rgba(17, 17, 26, 0.1) 0px 0px 16px;

#color() {
  white-color: @white-color;
  black-color: @black-color;
  blue-color: @blue-color;
}

#font() {
  font-size-light: @font-size-light;
  font-size-14: @font-size-14;
  font-size-small: @font-size-small;
  font-size-18: @font-size-18;
  font-size-normal: @font-size-normal;
  font-size-large: @font-size-large;
  font-size-xl: @font-size-xl;
  font-size-xxl: @font-size-xxl;
  font-size-xxxl: @font-size-xxxl;
  font-size-title: @font-size-title;
}

#border-radius() {
  border-radius-sm: @border-radius-sm;
  border-radius-md: @border-radius-md;
  border-radius-18: @border-radius-18;
  border-radius-lg: @border-radius-lg;
  border-radius-xl: @border-radius-xl;
  border-radius-xxl: @border-radius-xxl;
  border-radius-full: @border-radius-full;
}

#z-index() {
  z-index-sm: @z-index-sm;
  z-index-md: @z-index-md;
  z-index-lg: @z-index-lg;
}

#font-weight() {
  font-weight-light: @font-weight-light;
  font-weight-normal: @font-weight-normal;
  font-weight-medium: @font-weight-medium;
  font-weight-bold: @font-weight-bold;
  font-weight-extra-bold: @font-weight-extra-bold;
}

#box-shadow() {
  box-shadow-1: @box-shadow-1;
  box-shadow-2: @box-shadow-2;
  box-shadow-3: @box-shadow-3;
  box-shadow-4: @box-shadow-4;
}

#padding() {
  padding-sm: @padding-sm;
  padding-md: @padding-md;
  padding-lg: @padding-lg;
  padding-xl: @padding-xl;
  padding-xxl: @padding-xxl;
}

.flex-col (@gap: 10px) {
  display: flex;
  flex-direction: column;
  gap: @gap;
}

.flex-row (@gap: 10px) {
  display: flex;
  flex-direction: row;
  gap: @gap;
}

.flex-row-center (@gap: 10px) {
  display: flex;
  flex-direction: row;
  gap: @gap;
  justify-content: center;
  align-items: center;
}

.flex-col-space-between (@gap: 10px, @direction: row) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: @gap;
  flex-direction: @direction;
}

.flex-col-center (@gap: 10px) {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: @gap;
  flex-direction: column;
}

.hover() {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.typewriter() {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: wrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
