/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .custom-layout {

        .custom-layout-background {
            clip-path: polygon(0% 40%, 120% 0, 100% 100%, 0 100%);
        }

        .custom-layout-content {
            flex-direction: column;
            position: relative;

            .custom-layout-back {
                top: 6%;
                position: absolute;
                color: #color[blue-color];

                .icon {
                    filter: invert(48%) sepia(99%) saturate(469%) hue-rotate(170deg) brightness(90%) contrast(89%);
                }
                
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .layout-content-img {
                flex: 4;
                margin-bottom: 40px;
                justify-content: center;
                
                img {
                    width: 60%;
                }
            }

            .layout-content-form {
                flex: 6;
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .custom-layout {

        .custom-layout-background {
            clip-path: polygon(0% 36%, 116% 0, 100% 100%, 0 100%);
        }

        .custom-layout-content {
            position: relative;
            flex-direction: column;

            .custom-layout-back {
                top: 6%;
                position: absolute;
                color: #color[blue-color];

                .icon {
                    filter: invert(48%) sepia(99%) saturate(469%) hue-rotate(170deg) brightness(90%) contrast(89%);
                }
                
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .layout-content-img {
                flex: 4;
                margin-bottom: 40px;
                justify-content: center;
                
                img {
                    width: 60%;
                }
            }

            .layout-content-form {
                flex: 6;
            }
        }
    }
}

/* max 768px */
@media screen and (max-width: 767px) {
    .custom-layout {

        .custom-layout-background {
            clip-path: polygon(0% 28%, 116% 0, 100% 100%, 0 100%);
        }

        .custom-layout-content {
            flex-direction: column;

            .custom-layout-back {
                top: 2%;
                margin-left: -40px;
                position: absolute;
                color: #color[blue-color];

                .icon {
                    filter: invert(48%) sepia(99%) saturate(469%) hue-rotate(170deg) brightness(90%) contrast(89%);
                }
                
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .layout-content-img {
                flex: 3;
                justify-content: center;
                
                img {
                    width: 70%;
                }
            }

            .layout-content-form {
                flex: 7;
            }
        }
    }
}