/* 992px to 1199px */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .custom-layout {

        .custom-layout-background {
            clip-path: polygon(0 0, 100% 0, 100% 160%, 0 -60%);
        }

        .custom-layout-content {
            flex-direction: column;

            .layout-content-img {
                flex: 4;
                justify-content: center;
                
                img {
                    width: 60%;
                }
            }

            .layout-content-form {
                flex: 6;
            }
        }
    }
}

/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .custom-layout {

        .custom-layout-background {
            clip-path: polygon(0 0, 100% 0, 100% 160%, 0 -60%);
        }

        .custom-layout-content {
            flex-direction: column;

            .layout-content-img {
                flex: 4;
                justify-content: center;
                
                img {
                    width: 60%;
                }
            }

            .layout-content-form {
                flex: 6;
            }
        }
    }
}

/* max 768px */
@media screen and (max-width: 767px) {
    .custom-layout {

        .custom-layout-background {
            clip-path: polygon(0 0, 100% 0, 100% 160%, 0 -60%);
        }

        .custom-layout-content {
            flex-direction: column;

            .layout-content-img {
                flex: 3;
                justify-content: center;
                
                img {
                    width: 70%;
                }
            }

            .layout-content-form {
                flex: 7;
            }
        }
    }
}