.hero-section {
  background-color: #color[blue-color];
  min-height: 100vh;
  color: #color[white-color];
  padding: 180px 124px 124px 80px;
  position: relative;

  div.hero-section-title {
    .flex-row-center(22px);
    align-items: flex-start;
    margin-top: 10rem;

    p.hero-section-title-left {
      font-size: 70px;
      font-weight: #font-weight[font-weight-light];
      margin-top: 0;

      b {
        font-weight: #font-weight[font-weight-bold];
      }
    }

    p.hero-section-title-right {
      font-size: 25px;
      margin: 1.5rem 0 70px 0;
      .typewriter();
    }
  }

  div.hero-section-image {
    position: absolute;
    bottom: -500px;
    right: 0;
    left: 0;

    img {
      .flex-row-center(20px);
      width: 86vw;
      margin: auto;
    }
  }
}
