.header {
    color: #fff;
    padding: 0 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #color[blue-color];
    margin-top: 8px;

    img {
        height: 100%;
        border-radius: 8px;
    }

    .header-btn {
        height: 70%;
    }
}