.introduce {
  padding: 300px 120px 0;
  display: flex;
  margin-top: 40%;

  .introduce-content {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .introduce-content-cause {
      font-size: 28px;
      margin-top: 8px;
      line-height: 38px;
      font-weight: #font-weight[font-weight-medium];
    }

    .introduce-content-desc {
      margin-top: 12px;
      line-height: 34px;
      font-size: #font[font-size-large];
      font-weight: #font-weight[font-weight-normal];
    }
  }

  .introduce-img {
    flex: 1;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      border-radius: 20px;
      background-size: cover;
      padding: 68px 0;
    }
  }
}
