/* 768px to 991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .introduce {
        flex-direction: column;

        .introduce-content {

            .introduce-content-desc,
            .introduce-content-cause {
                text-align: center;
                font-size: #font[font-size-small]
            }

            .introduce-content-cause {
                font-size: #font[font-size-normal];
            }
        }
    }
}

/* max 768px */
@media screen and (max-width: 767px) {
    .introduce {
        flex-direction: column;

        .introduce-content {

            .introduce-content-desc,
            .introduce-content-cause {
                text-align: center;
                font-size: #font[font-size-light]
            }

            .introduce-content-cause {
                font-size: #font[font-size-small];
            }
        }
    }
}