section.features {
  text-align: center;
  color: #52525b;
  background-color: white;
  // padding-top: 100rem;
  .features-title {
    font-size: 48px;
    font-weight: #font-weight[font-weight-bold];
    margin-bottom: 40px;
    b {
      font-size: 70px;
      color: #color[blue-color];
      font-weight: #font-weight[font-weight-extra-bold];
    }
  }

  .features-description {
    font-size: #font[font-size-xl];
    font-weight: #font-weight[font-weight-medium];
    text-align: center;
    line-height: 34px;
    margin-bottom: 40px;
  }

  .features-list {
    .flex-col-space-between(20px, row);
  }
}
