@media (max-width: 1000px) {
  section.features {
    padding-top: 400px;
    .features-list {
      margin-top: 120px;
    }
  }
}

@media (max-width: 768px) {
  width: 100%;
  padding: 0;

  section.features {
    padding-top: 200px;

    .features-list {
      flex-direction: column;
    }
  }
}
