.showcase {
  margin-top: 40px;
  .flex-row-center(40px);
  align-items: flex-start;
  .showcase-image {
    width: 50%;
  }

  .showcase-content {
    padding-right: 80px;

    .showcase-title {
      margin-top: 0;
      line-height: 76px;
      font-size: 70px;
      font-weight: #font-weight[font-weight-bold];

      b {
        font-weight: #font-weight[font-weight-bold];
        color: #color[blue-color];
      }
    }

    .showcase-description {
      font-size: 27px;
      font-weight: #font-weight[font-weight-light];
    }
  }
}
