.showcase {
  .flex-row-center(40px);
  align-items: flex-start;
  .showcase-image {
    width: 50%;
  }
  .showcase-content {
    padding-right: 80px;
    .showcase-title {
      margin-top: 0;
      line-height: 76px;
      font-size: 60px;
      font-weight: #font-weight[font-weight-bold];

      b {
        font-weight: #font-weight[font-weight-bold];
        color: #color[blue-color];
      }
    }

    .showcase-description {
      margin-top: 20px;
      font-size: 18px;
      font-weight: #font-weight[font-weight-light];
    }
  }
}
